__pycache__/
debug.log

#Data folder
data/profiles.json
data/settings.json
data/proxies.json
data/tasks.json
data/vault.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# OSX
.DS_Store
