pyqt5==5.14.2
js2py==0.68
lxml==4.6.1
darkdetect==0.1.1
colorama==0.4.3
selenium==3.141.0
chromedriver-py==87.0.4280.20
pycryptodome
webdriver_manager==3.2.2
pip-tools==5.4.0
requests==2.24.0 # Keep at 2.24.0 unless amazoncaptcha pushes support for later versions
amazoncaptcha==0.5.0 # Currently only supports requests 2.24.0
price-parser==0.3.4
