beepy==1.0.7
certifi==2020.11.8
chardet==3.0.4
chromedriver-py==92.0.4515.43
click==7.1.2
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
darkdetect==0.2.0
idna==2.10
Js2Py==0.70
lxml==4.6.3
pip-tools==5.5.0
pycryptodome==3.9.9
pyjsparser==2.7.1
PyJWT==1.7.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pytz==2020.4
requests==2.25.1
selenium==3.141.0
simpleaudio==1.0.4
six==1.15.0
twilio==6.63.2
tzlocal==2.1
urllib3==1.26.5
webdriver-manager==3.3.0
